*.pyc
temp/
front-end/temp/
front-end/css/prefix/
front-end/js/foundation/
back-end/temp/
bower_components/
node_modules/
*~


#Configuraciones Locales
back-end/silvia/silvia/local_settings.py
back-end2/silvia/silvia/local_settings.py