<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Joyeria Silvia{% endblock title %}</title>
    <!-- css/src es para Desarrollo cambia a css/*.min.css en deploy-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/icomoon.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/joyeria.min.css">
    <script src="{{ STATIC_URL }}js/vendor/modernizr.js"></script>
    <!-- Bloque para metaTags de SEO -->

    <!-- Bloque para icons y más -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ STATIC_URL }}icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ STATIC_URL }}icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL }}icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ STATIC_URL }}icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL }}icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ STATIC_URL }}icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ STATIC_URL }}icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ STATIC_URL }}icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ STATIC_URL }}icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ STATIC_URL }}icons/manifest.json">
    <link rel="shortcut icon" href="{{ STATIC_URL }}icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Joyeria Silvia">
    <meta name="application-name" content="Joyeria Silvia">
    <meta name="msapplication-TileColor" content="#3cd1b4">
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}icons/mstile-144x144.png">
    <meta name="msapplication-config" content="{{ STATIC_URL }}icons/browserconfig.xml">
    <meta name="theme-color" content="#3cd1b4">

</head>
<body>
    <!-- Empieza bloque de HTML -->
    {% block contenido %}
        
    {% endblock contenido %}
    
    <!-- js/src es para Desarrollo cambia a js/*.min.css en deploy -->
    <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
    <script src="{{ STATIC_URL }}js/src/app.js"></script>
</body>
</html>