{% extends "blocks/base_con_menu.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    
<div class="row">

    <div class="medium-6 medium-centered columns">
       <section class="row">
              <article class="small-12 columns">
                  <h2>Titulo 2</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
              </article>
              <article class="small-12 columns">
                  <h2>Titulo 3</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
              </article>
              <article class="small-12 columns">
                  <h2>Titulo 3</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
              </article>
              <article class="small-12 columns">
                  <h2>Titulo 3</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
              </article>
              <article class="small-12 columns">
                  <h2>Titulo 3</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
              </article>
        </section> 
    </div>

</div>


    
    
{% endblock content %}
