{% extends "blocks/base_con_menu.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
    
<div class="row padding-top">
    <div class="medium-6 medium-centered columns">
       <section class="row">
              <article class="small-12 columns">
                  <div class="panel">
                    <h2>DEUDA <em>$600.50</em></h2>
                    <h3>Cliente: Luciano Marcos Solis</h3>
                    <h3>Producto ID: <strong>ABC #12345 KPF</strong></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
                  <a class="button round" href="#">Detalles</a>
                  </div>
                  
              </article>
              <article class="small-12 columns">
                  <div class="panel">
                    <h2>DEUDA <em>$600.50</em></h2>
                    <h3>Cliente: Luciano Marcos Solis</h3>
                    <h3>Producto ID: <strong>ABC #12345 KPF</strong></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
                  <a class="button round" href="#">Detalles</a>
                  </div>
              </article>
              <article class="small-12 columns">
                  <div class="panel">
                    <h2>DEUDA <em>$600.50</em></h2>
                    <h3>Cliente: Luciano Marcos Solis</h3>
                    <h3>Producto ID: <strong>ABC #12345 KPF</strong></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione accusantium, reiciendis quo! Minima aspernatur, nostrum architecto tempora obcaecati fugit culpa repellendus suscipit exercitationem minus. Doloribus nisi eligendi quae. Sunt, cumque.</p>
                  <a class="button round" href="#">Detalles</a>
                  </div>
              </article>
             
        </section> 
    </div>

</div>


    
    
{% endblock content %}
