{% extends "blocks/base.html" %}
{% block title %}Login{% endblock title %}
{% block headerplus %}
<style>
  body{
  background: linear-gradient(90deg, #136a8a 10%, #267871 90%);
  }
</style>     
    {% endblock headerplus %}
{% block contenido %}
<header class="row padding-top">

   <div class="medium-6 columns text-center">

       <img width="250" src="{{ STATIC_URL }}img/logos/logo_gem.png" alt="Joyeria Silvia Bienvenidos">
       <h1 class="white">Joyeria Silvia</h1>
       <h2 class="white">¡Bienvenido!</h2>
   </div>
   <div class="medium-6 column padding-top">
         <form action="." method="post">{% csrf_token %}
            
              
              <div class="row cardform">
                <div class="large-12 columns"> 
                  <label class="text-left"><h3>Usuario</h3>
                    <input  type="text" name="username" placeholder="Usuario" />
                  </label>
                  <label class="text-left"><h3>Password</h3>
                    <input  type="password" name="password" placeholder="Password" />
                  </label>
                  {%if error%}<small class="error">{{error}}</small>{%endif%}
                </div>
                <div class="small-6 columns text-center padding-top">
                  <button name="entrar" class="expand round">Entrar</button>
                </div>
                <div class="small-6 columns text-center padding-top">
                  <button href="/" class="expand success round">Volver</button>
                </div>

              </div>
            

          </form>
    </div>

</header>
<footer class="row padding-top">
  <div class="medium-6 medium-centered columns text-center padding-top">
    <h4>Copyright Joyeria Silvia 2015</h4>
  </div>
</footer>

{% endblock contenido %}